<nav class="navbar navbar-dark bg-primary">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <select class="browser-default custom-select" #t (change)="callType(t.value)">
        <option disabled selected>Select</option>
        <option value="1">Sort By Name(A-Z)</option>
        <option value="2">Sort By Name (Z-A)</option>
        <option value="3">Sort By Rank &#8593;</option>
        <option value="4">Sort By Rank &#8595;</option>
      </select>
    </div>
    <div class="col-md-3">
      <input id="typeahead-format" type="text" class="form-control" />
    </div>
  </div>
</nav>
<br/>
<div>
  <label>Total result:{{data.length}}</label>
  <ng-container *ngFor="let val of data| paginate:config;let i= index">
    <!-- <div class="container"> -->
      <div class="card">
        <div class="card-body">
          <div class="col-md-8">
            <div class="row">
              <div class="row">
                <img src="{{val.avatar_url}}" alt="Avatar" style="width:120px; border-radius: 50%">
                {{urlArray[((config.currentPage-1)*config.itemsPerPage)+i]}}
              </div>
            </div>
            <label>Profile Url:{{val.url}}</label><br/>
            <!-- {{((config.currentPage-1)*config.itemsPerPage)+i}}
            {{val}} -->
            <button class="btn btn-link" type="button" (click)="onCollapse(val)">
              View Details
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="collapse">
        <div class="row" *ngIf="dataValue === val">
          <div class="col-md-3"></div>
          <table class="table table-sm">
            <tr>
              <th>Data Lable</th>
              <th>Data Value</th>
            </tr>
            <tr *ngFor="let val of sampleArray;let j=index">
              <td>{{val}}</td>
              <td>xfdghfjf</td>
            </tr>
          </table>
        </div>
      </div>
    <!-- </div> -->


  </ng-container>

  <div class="row">
    <div class="col-md-8"></div>
    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
  </div>
</div>
