<nav class="navbar navbar-dark bg-primary">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <select class="browser-default custom-select" #t (change)="callType(t.value)">
        <option disabled selected>Select</option>
        <option value="1">Sort By Name(A-Z)</option>
        <option value="2">Sort By Name (Z-A)</option>
        <option value="3">Sort By Rank &#8593;</option>
        <option value="4">Sort By Rank &#8595;</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="model" />
    </div>
  </div>
</nav>
<div class="router-outlet">
  <div class="row">
    <div class="col-md-2"></div><br/>
    <div class="col-md-3">
    <br/><br/>Total result:{{totalData.length}}
    </div>
  </div>
  <ng-container *ngFor="let val of totalData| paginate:config;let i= index">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <img src="{{val.avatar_url}}" alt="Avatar" class="image">
              </div><br />
              <div class="col-md-7">
                <br />
                <h5> {{urlArray[((config.currentPage-1)*config.itemsPerPage)+i]}}</h5>
                <label>Profile Url:{{val.url}}</label><br />
                <button *ngIf="!collapse || dataValue !== val" class="btn btn-outline-primary" type="button"
                  (click)="onCollapse(val,((config.currentPage-1)*config.itemsPerPage)+i)">
                  Details
                </button>
                <button *ngIf="collapse && dataValue === val" class="btn btn-outline-primary" type="button"
                  (click)="onCollapse(val,((config.currentPage-1)*config.itemsPerPage)+i)">
                  Collapse
                </button>
                <div *ngIf="collapse">
                  <div class="row" *ngIf="dataValue === val">
                    <div class="col-md-3"></div>
                    <table class="table table-sm">
                      <tr>
                        <th>Data Lable</th>
                        <th>Data Value</th>
                      </tr>
                      <tr *ngFor="let val of sampleArray;let j=index">
                        <td>{{val.name}}</td>
                        <td>{{val.language}}</td>
                      </tr>
                      <div *ngIf="!sampleArray.length && sampleArray !== undefined">
                        Repo's not created yet
                      </div>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </ng-container>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-5">
      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>
  </div>
</div>
